<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit(form)"
          [formGroup]="form"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px">
      <mat-form-field>
        <input matInput
               placeholder="First Name"
               formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Last Name"
               formControlName="lastName">
      </mat-form-field>
      <mat-action-row>
        <button mat-raised-button type="submit">
          Save
        </button>
      </mat-action-row>
    </form>

  </mat-card-content>
</mat-card>

